.index {
  min-height: 100vh;
  padding: 48px;
}

.index__list {
  background: #FFFFFF;
  padding: 24px;
}

.index__list {
  height: 100%;
}

.index__filter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width : 767px) {
  .index .ant-row .ant-col:first-child {
    padding-bottom: 8px;
  }
}
