.profile {
  min-height: 100vh;
  padding: 48px;
}

.profile__list {
  background: #FFFFFF;
  padding: 24px;
}

.profile__list .profile__list-title {
  margin: 0;
}

.profile__action {
  margin-top: 24px;
}

.profile__action-btn {
  width: 100%;
}
