.cart {
  background: #FFFFFF;
  padding: 24px;
}

.cart__info--details,
.cart__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart__title .cart__title-text {
  margin: 0;
}

.cart__checkout {
  margin-top: 24px;
}

.cart__checkout-btn {
  width: 100%;
}
