.checkout {
  min-height: 100vh;
  padding: 48px;
}

.checkout__customer {
  background: #FFFFFF;
  padding: 24px;
}

.checkout__customer--divider {
  margin-bottom: 0 !important;
}

.checkout__customer--field {
  width: 100%
}
