.header__logo {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  float: left;
  height: 31px;
  margin: 16px 24px 16px 0;
  width: 120px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
}
