.signin {
  min-height: 100vh;
  padding: 48px;
}

.signin__form {
  background: #FFFFFF;
  padding: 24px;
}

.signin__form .profile__form-title {
  margin: 0;
}

.signin__form--fields {
  width: 100%;
}

.signin__action {
  margin-top: 24px;
}

.signin__action-btn {
  width: 100%;
}
