.item {
  min-height: 100vh;
  padding: 48px;
}

.item__info,
.item__similar {
  background: #FFFFFF;
  padding: 24px;
}

.item__similar .item__similar--title .item__similar--title-text {
  margin: 0;
}

.item__info .item__info--card .item__info--card-meta .item__info--card-meta-description-btn {
  margin-top: 16px;
}

@media only screen and (max-width : 767px) {
  .item .ant-row .ant-col:first-child {
    padding-bottom: 8px;
  }
}
